@{
    ViewData["Title"] = "WIP..";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Please refer </p>
    <p>Process Controller - DeployProcess -> to see an example of deploying a new process model</p>
    <p>Process Controller - CreateProcessInstance -> to see an example of creating a new process instance & adding more process variables to a running process instance</p>
</div>

